.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
  word-break: break-all;
}